<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #7CFC00">
    <div class="container">
      <form class="form-inline">
        <div class="d-inline">
          <h1 class=" mr-sm-2"> Nome do app </h1>
          <% if user_signed_in? %>
            <%= "bem vindo #{current_user&.person&.name}" %>
          <% end %>
        </div>
      </form>
    </div>
  </nav>


  <div class="btn-group mt-3">
    <%= button_to "dashboard", dashboard_path, method: :get, class: "btn btn-link" %>
    <%= button_to "Dietas", diet_dashboard_path, method: :get, class: "btn btn-link" %></a>
  </div>
  <div>

    <h5>gerenciador de alimentação</h5>
    <div>
      <h7><%= button_to "criar periodo de observação", new_diet_path, method: :get, class: "btn btn-link" %></h7>

    </div>
    <div>
      <h7>refeições de hoje</h7>
    </div>
  </div>
</div>