<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light justify-content-between" style="background-color: #7CFC00">
    <div class="container">
      <form class="form-inline">
        <div class="d-inline">
          <h1 class=" mr-sm-2" > Nome do app </h1>
          <% if user_signed_in? %>
            <%= "bem vindo #{current_user&.person&.name}" %>
          <% end %>
        </div>
      </form>
    </div>
  </nav>

  <div>
    <% if current_user.person.nil? %>
      <div class="container">
        <h7>vejo que é novo aqui no sistema, clique no botão abaixo para terminar o seu registro :D</h7>

        <div class="mt-2 mb-2">
          <%= button_to "Registrar-se", new_person_path, method: :get, class: "btn btn-primary" %>
        </div>
        <div>
          <%= button_to "logout", destroy_user_session_path, method: :delete, class:"btn btn-primary" %></a>
        </div>
      </div>
    <% else %>
      <div>
        <h4> mensagem motivacional </h4>
        <%= button_to "redirecionar para dashboard", diet_dashboard_path(current_user&.id), method: :get, class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>