
<td class="text-center">
  <h1>Bien venidos</h1>
</td>
  <h2>vai dar bom</h2>
<%= user_signed_in? %>
<% unless user_signed_in? %>
  <ul>
    <label>
      <%= button_to "login", dashboard_path, method: :get, class:"btn btn-primary" %>
    </label>
    <label>
      <%= button_to "Cadastrar-se", new_user_registration_path, method: :get, class:"btn link" %>
    </label>
  </ul>
<% else %>>
  <td class="text-center">
    <%= button_to "logout", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
  </td>
<% end %>